.path-ico.name-io-aliyun .x-io-aliyun{background-image:url('./images/icon.png');}
.artDialog.app-config-aliyunDrive{width: 560px!important;}
.artDialog.app-config-aliyunDrive .aui-main{height: 320px!important;}

/* 存储编辑页 */
.form-select2-dropdown-key-storeType .select2-results__options .select2-results__option .path-ico.name-kod-aliyun img{
    width: 42px;height: 42px;vertical-align: top;
}
.admin-page .storage-page .store-type-box .form-row.item-storeType .path-ico.name-kod-aliyun img{
    width: 16px;height: 16px;vertical-align: top;
}