<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="./asserts/js/init.js?from=vant&plugins=user"></script>
    <title></title>
</head>
<body>
<div id="app">
    <van-nav-bar
            title="账号绑定"
            left-text="返回"
            left-arrow
            @click-left="onClickLeft"
    ></van-nav-bar>
    <div v-if="!isLogin">
        <van-empty description="当前用户未登录"></van-empty>
    </div>
    <div v-if="isLogin">
        <van-cell title="微信" :is-link="!weixinBind" :value="weixinBind?'已绑定':'去绑定'" @click="toBind(1)"></van-cell>
        <van-cell title="QQ" :is-link="!qqBind" :value="qqBind?'已绑定':'去绑定'" @click="toBind(2)"></van-cell>
    </div>
</div>
</body>
<script>
    Vue.app({
        data:{
            isLogin:false,
            weixinBind:false,
            qqBind:false,
            user:{}
        },
        mounted:function() {
            var that = this;
            if(utils.user.isLogin()){
                that.init();
                return;
            }
            var id = utils.getParamer("id");
            if(!id){
                utils.$.errorMsg("用户id不存在");
                return
            }
            utils.user.loginById(id,function () {
                that.init();
            })
        },
        methods:{
            init:function(){
                utils.user.getOpenId();
                var that = this;
                var user = utils.user.getUserInfo();
                that.isLogin = true;
                if(user.wx_open_id){
                    that.weixinBind = true;
                }
                if(user.qq_open_id){
                    that.qqBind = true;
                }
                if(utils.getParamer("wxOpenId")){
                    if(utils.user.isWeiXin() && utils.getParamer("wxOpenId") != user.wx_open_id){
                        that.weixinBind = false;
                    }
                }
                if(utils.getParamer("qqOpenId")){
                    if(utils.user.isQQ() && utils.getParamer("qqOpenId") != user.qq_open_id){
                        that.qqBind = false;
                    }
                }
                that.user = user;
            },
            toBind:function (type) {
                var that = this;
                if(type == 1){
                    if(that.weixinBind){
                        return;
                    }
                    //微信
                    if(!utils.user.isWeiXin()){
                        prompt("当前非微信内,请将此地址复制到微信中打开",utils.rootPath+"/bind.html?id="+that.user.id);
                    }else{
                        var wx_open_id = utils.getParamer("wxOpenId") ||　"";
                        utils.$.post("/user.php?type=bind",{id:that.user.id,wx_open_id:wx_open_id},function (res) {
                            utils.user.updateUser(res.data);
                            that.init();
                        });
                    }
                }else if(type == 2){
                    if(that.qqBind){
                        return;
                    }
                    //QQ
                    if(!utils.user.isQQ()){
                        prompt("当前非QQ内,请将此地址复制到QQ中打开",utils.rootPath+"/bind.html?id="+that.user.id);
                    }else{
                        var qq_open_id = utils.getParamer("qqOpenId") ||　"";
                        utils.$.post("/user.php?type=bind",{id:that.user.id,qq_open_id:qq_open_id},function (res) {
                            utils.user.updateUser(res.data);
                            that.init();
                        });
                    }
                }
            },
            onClickLeft:function () {
                window.location.href = "index.html";
            }
        }
    });
</script>
</html>
